
/* .dashboard {
    display: flex;
    flex-direction: column; 
    height: 100vh;

  } */
  .dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Make sure it fills available space */

 
  }
  
  .actions {
    margin-bottom: 20px;
  }
  
  .actions button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4472C4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 200px; /* Define a reasonable maximum width */
    min-width: 100px;
  }
  
  .actions button:hover {
    background-color: #335599;
  }
  
  /* .stats-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  } */
  .stats-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%; /* Ensure it stretches fully */
  }
  
 
 